$color: (
  primary:      #2271b1,
  primary-dim:  #72aee6,
  accent:       #e7eb90,
  black:        #495c51,
  black-dim:    #2c3338,
  white:        #fff,
);

$default-font-stack:  -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell",
  "Helvetica Neue", sans-serif;
$font-family: (
  body: #{ "IBM Plex Sans", $default-font-stack },
  code: #{ "Fira Code", monospace },
  icon: "bootstrap-icons"
);

$base-font-size: 1rem;
$font-size: (
  sm:   $base-font-size * 0.875,
  md:   $base-font-size * 1.125,
  lg:   $base-font-size * 1.25,
  xl:   $base-font-size * 1.5,
  xxl:  $base-font-size * 1.75,
  xxxl: $base-font-size * 2.125,
);

$font-weight: (
  light:  300,
  normal: 400,
  medium: 500,
  bold:   700
);

$line-height: (
  body:     1.5,
  headings: 1.35,
);

$breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$sidebar-menu-width: (
  expanded:   250px,
  collapsed:  70px,
);
